:root {
  --topbar-bg: #37394b;
  --nabvar-bg: #007b67;
  --register-bg: #247c86;
  --dark-color: #1a1a1a;
  --light-color: #ffffff;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
}

.register-page {
  background: var(--register-bg);
}

/* start of topbar */
.topbar {
  background: var(--topbar-bg);
  color: var(--light-color);
  font-size: 1rem;
  padding: 14px 40px;
}

.topbar p {
  margin: auto;
}

.topbar-link {
  color: var(--light-color);
  text-decoration: none;
}

.lang-pill {
  align-items: center;
  text-decoration: none;
  padding: 10px 10px;
  border-radius: 8px;
  color: var(--light-color);
}

.lang-pill.active {
  border: none;
}

.lang-pill:hover {
  border: 1px solid #37394b;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.15);
}

/* end of topbar */

/* start of navbar */

/* end of navbar */
